.container_provide-info{
margin-left: 20rem;
}
.container_login, .container_register{
margin-left: 25rem;
}
.btn{
border-radius: 4px;
background-color: #f44336;
color: white;
border: 2px solid #f44336;
}
dd > input, .text-input{
border: 2px solid red;
border-radius: 4px;
margin-top: 4px;
margin-bottom: 8px;


}