{% extends "header.html" %}
{% block body %}
<body>
<script>
window.onload = function () {
	console.log(1);
        let footer = document.getElementsByClassName("footer");
        footer[0].style.position = 'absolute';
        footer[0].style.bottom = '0';
};
</script>

	<div class="container">
		<br>
		<h3 class="container_login">Please Login:</h3>
		<br>
		<form action="" class="form-inline" method="post" style="margin-left: 25%; width: 50%;">
			<input type="text" class="text-input" placeholder = "Username" name="username" value="{{request.form.username}}">
			<br>
			<input type="password" class="text-input" placeholder = "Password" name="password" value="{{request.form.password}}">
			<br>
			<input class="btn btn-default" type="submit" value="Login">
		</form>
	</div>
</body>
{% endblock %}